
			#body{
				height: fit-content;
				width: 100%;
				background-color: white;
			}
			
			.goods{
				height: fit-content;
				width: 90%;
				margin: 0 auto;
				background-color: white;
			}
			.li1{
				line-height: 32px;
				list-style: none;
				background: url("/ssm/public/imgs/l1.png") no-repeat;
				margin: 10px 5px;
				color: slategray;
				padding: 0 10px 0 35px;
			}
			.li2{
				line-height: 32px;
				list-style: none;
				background: url("/ssm/public/imgs/l2.png") no-repeat;
				margin: 10px 5px;
				color: slategray;
				padding: 0 10px 0 35px;
			}
			.li3{
				line-height: 32px;
				list-style: none;
				background: url("/ssm/public/imgs/l3.png") no-repeat;
				margin: 10px 5px;
				color: slategray;
				padding: 0 10px 0 35px;
			}
			.li4{
				line-height: 32px;
				list-style: none;
				background: url("/ssm/public/imgs/l4.png") no-repeat;
				margin: 10px 5px;
				color: slategray;
				padding: 0 10px 0 35px;
			}
			.li5{
				line-height: 32px;
				list-style: none;
				background: url("/ssm/public/imgs/l5.png") no-repeat;
				margin: 10px 5px;
				color: slategray;
				padding: 0 10px 0 35px;
			}
			.li6{
				line-height: 32px;
				list-style: none;
				background: url("/ssm/public/imgs/l6.png") no-repeat;
				margin: 10px 5px;
				color: slategray;
				padding: 0 10px 0 35px;
			}
			.li7{
				line-height: 32px;
				list-style: none;
				background: url("/ssm/public/imgs/l7.png") no-repeat;
				margin: 10px 5px;
				color: slategray;
				padding: 0 10px 0 35px;
				
			}
			.box{
				margin: 0 auto;
				height: 300px;
				width: 160px;
				background-color: white;
			}
			.box li:hover{
				background-color: ghostwhite;
				cursor: pointer;
			}
			.carousel-inner>.item img{
				width: 100%;
				height: 305px;
				
			}
			.slide{
				height: 305px;
				margin-top: 5px;
			}
			.test{
				margin-top: 10px;
				padding: 0 15px 0 25px;
			}
			.navbar-form{
				
				margin: 8px 0;
				padding: 0;
			}
			.navbar-header img{
				margin: 4px 0;
			}
			.container-fluid{
				background-color: white;
			}
			.container{
				margin-bottom: 20px;
			}
			.good{
				margin: 10px 25px 10px 10px;
				padding: 20px 40px;
				height: 300px;
				width: 240px;
				background-color: white;
				box-sizing: border-box;
				border: 1px solid;
				border-color: gainsboro;
			}
			.good:hover{
				cursor: pointer;
				filter: alpha(Opacity=80);
				-moz-opacity:0.8;
				opacity: 0.8;
				border-color: red;
			}
			.good img:hover{
				margin-left: -5px;
			}
			.img{
				height: 160px;
				width: 160px;
			}
			.name{
				line-height: 35px;
				width: 150px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.price{
				color: orange;
				line-height: 35px;
			}
			.store{
				color: darkgray;
				line-height: 35px;
			}
			.hot{
				width: 100%;
			}
			.hot img{
				width: 100%;
			}
			.navbar-form>.form-group{
				width: 180px;
			}